In [27]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import norm
from scipy.stats import t
from numpy.random import seed

In [28]:
import pandas as pd
from pandas.io.json import json_normalize 
data = pd.read_csv("https://raw.githubusercontent.com/mightysquirrely/Capstone-3/master/City_Facilities_Use.csv")
                   
#This data comes from the dataset with city facilities energy usage issued in the city of Fort Collins, Colorado.

In [29]:
data.info()
#This was done to identify categories with missing information.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34196 entries, 0 to 34195
Data columns (total 9 columns):
Facility Name       34196 non-null object
Facility Address    33386 non-null object
Utility Type        34196 non-null object
Measure             34196 non-null object
Use                 26019 non-null float64
Cost                30261 non-null float64
Month               34196 non-null object
Month_Num           34196 non-null int64
Year                34196 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.3+ MB

In [30]:
data['Facility Name'].value_counts()
##How many entries are there for each facility?  
#Why are there 810 for the majority?

Park Shop                            810
Streets                              810
Epic                                 810
222                                  810
Museum Of Discovery                  810
Lincoln Center                       810
South Transit Center                 810
ALL CITY                             810
Transfort Facility                   810
Traffic Ops                          810
Fort Collins Utilities A-B           810
Fleet Services                       810
Rickers                              810
City Park Nine Clubhouse             810
Nix Farm-Admin                       810
Shooting Range                       810
Collindale Clubhouse                 810
Gardens On Spring Creek              810
Mulberry Pool                        810
City Park Pool                       810
215                                  810
City Hall                            810
Club Tico                            810
Warehouse                            810
Police Services                      810
Southridge                           810
Carnegie Building                    810
Nix Farm-Maint                       810
Senior Center                        810
Fossil Creek Park Shop               810
Nix Farm-House                       810
117                                  810
North Transit Center                 810
Spring Canyon Park Shop              810
281                                  810
North-Side Atzlan                    810
Firehouse Alley Parking Structure    648
Streets Fueling                      648
906 Vine                             648
Foothills Activity Center            648
Transfort Fueling                    648
Civic Center Parking Garage          500
Timberline Recycling Center          486
Remington St Parking Garage          486
Operation Services                   324
Name: Facility Name, dtype: int64

In [31]:
data['Utility Type'].value_counts()

Electric       14256
Wastewater      7290
Natural Gas     6494
Water           6156
Name: Utility Type, dtype: int64

In [32]:
data['Facility Address'].value_counts()

1745 Hoffman Mill    2430
1599 City Park       1620
625 Ninth            1458
6570 Portner         1458
300 Laporte          1134
835 Wood              810
411 S Bryan           810
2554 Midpoint         810
5750 S Lemay          810
518 N Loomis          810
222 Laporte           810
5001 Fossil           810
250 N Mason           810
413 S Bryan           810
112 E Willow          810
220 N Howes           810
3156 S Overland       810
417 W Magnolia        810
1200 Raintree         810
2221 S Timberline     810
2145 Centre           810
700 Wood              810
215 N Mason           810
117 N Mason           810
5821 S Lemay          810
281 N College         810
1441 E Horsetooth     810
200 Mathews           810
408 Mason             810
1801 Riverside        810
626 Linden            810
424 W Mulberry        810
906 Vine              648
241 E Foothills       648
160 Chestnut          648
299 Laporte           500
209 E Mountain        486
1903 S Timberline     486
Name: Facility Address, dtype: int64

In [34]:
Electric = data.loc[(data['Utility Type'] == 'Electric')]
Electric.head()

,Facility Name,Facility Address,Utility Type,Measure,Use,Cost,Month,Month_Num,Year
487,117,117 N Mason,Electric,KW,26.4,524.37,January,1,2005
488,117,117 N Mason,Electric,KW,24.0,474.10,February,2,2005
489,117,117 N Mason,Electric,KW,21.6,444.62,March,3,2005
490,117,117 N Mason,Electric,KW,25.6,443.56,April,4,2005
491,117,117 N Mason,Electric,KW,28.0,484.96,May,5,2005

In [35]:
Water = data.loc[(data['Utility Type'] == 'Water')]
Water.head()

,Facility Name,Facility Address,Utility Type,Measure,Use,Cost,Month,Month_Num,Year
324,117,117 N Mason,Water,GAL,6900.0,22.10,January,1,2005
325,117,117 N Mason,Water,GAL,6300.0,21.16,February,2,2005
326,117,117 N Mason,Water,GAL,6100.0,20.85,March,3,2005
327,117,117 N Mason,Water,GAL,5600.0,20.07,April,4,2005
328,117,117 N Mason,Water,GAL,6300.0,23.64,May,5,2005

In [36]:
Natural_Gas = data.loc[(data['Utility Type'] == 'Natural Gas')]
Natural_Gas.head()

,Facility Name,Facility Address,Utility Type,Measure,Use,Cost,Month,Month_Num,Year
162,117,117 N Mason,Natural Gas,CCF,1439.0,1129.52,January,1,2005
163,117,117 N Mason,Natural Gas,CCF,1179.0,868.00,February,2,2005
164,117,117 N Mason,Natural Gas,CCF,865.0,618.03,March,3,2005
165,117,117 N Mason,Natural Gas,CCF,632.0,455.84,April,4,2005
166,117,117 N Mason,Natural Gas,CCF,201.0,159.37,May,5,2005

In [44]:
Wastewater = data.loc[(data['Utility Type'] == 'Wastewater')]
Wastewater.head()

,Facility Name,Facility Address,Utility Type,Measure,Use,Cost,Month,Month_Num,Year
0,117,117 N Mason,Wastewater,CALC,NaN,148.92,January,1,2005
1,117,117 N Mason,Wastewater,CALC,NaN,147.87,February,2,2005
2,117,117 N Mason,Wastewater,CALC,NaN,147.52,March,3,2005
3,117,117 N Mason,Wastewater,CALC,NaN,146.64,April,4,2005
4,117,117 N Mason,Wastewater,CALC,NaN,147.87,May,5,2005

**What facilities use the highest for each utility type?  The lowest?
What months show the highest and lowest usage for each type of utility?
Is there any facility that uses the highest use for all utilities across the board?**

In [ ]:

from sklearn import datasets
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
# Import label encoder
from sklearn import preprocessing